<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230239747726-6b0uhcrjcp6vur1346k1vp3vq2ebkp8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230239747726-6b0uhcrjcp6vur1346k1vp3vq2ebkp8n</string>
	<key>API_KEY</key>
	<string>AIzaSyD7uM1zxMga9GQFQtVqVo3FY9CFsp4GgDE</string>
	<key>GCM_SENDER_ID</key>
	<string>230239747726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.tippytoes.daycare</string>
	<key>PROJECT_ID</key>
	<string>tippy-toes-daycare</string>
	<key>STORAGE_BUCKET</key>
	<string>tippy-toes-daycare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230239747726:ios:e51498a39312b770a713df</string>
</dict>
</plist>